<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>大紐約台灣同鄉會台語課</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>臺語課作業</h1> 
    <p><strong>Hi {{name}}! Welcome to the {{week}} homework!</strong></p>
    <p><strong>這是本週的讀本:</strong></p>
    <p>{{paragraph}}</p>

    <hr>
    <p>這是阿伯示範的錄音檔:</p>
    <!-- <p>{{   url_for("static", filename="sample/{}.wav".format(week))         }}</p> -->
    <audio controls>
	    <source src={{url_for("static", filename="sample/{}".format(week))}} type="audio/wav">
    </audio>

    <hr>
    <br>

    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">按下 Record 開始錄音</div>
    <ol id="recordingsList"></ol>
    <div id="success"></div>

    <!-- Below we include some arguments for js functions -->
    <div id="student_id" value={{student_id}}></div>
    <div id="ref_original_site" value="Simple Recorder.js demo with record, stop and pause - addpipe.com"></div>
    <div id="week" value={{week}}></div>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->

    
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
